<footer>
    <div class="foots-container">
        <div class="foot1" style="align-items: center; width: 15%;">
            <img src="/images/icon23.png" alt="" style="width: 120px; height: 100px;">
            <p style="text-align: center; margin: 5px 0px;">Tarkeba strives to make fragrance shopping more accessible than ever so that finding the perfect scent becomes effortless.</p>
        </div>
        <div class="foot2">
            <h3>Customer Services</h3>
            <a href="/feedback">Feedback</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms">Terms &#38; Conditions</a>
            <a href="/FAQs">FAQ</a>
        </div>
        <div class="foot3">
            <h3>Your Account</h3>
            <a href="/users/profile">Account</a>
            <a href="/users/orders">Orders</a>
            <a href="/shipping-returns">Shipping &#38; Returns Policy</a>
        </div>
        <div class="foot4">
            <h3>Shop</h3>
            <div style="margin-bottom: 15px;">
                <a href="/custom">Create Perfume</a>
                <a href="/about">About Us</a>
            </div>
            <h3>Follow Us</h3>
            <div style="width: 100%; gap: 10px; margin-top: 10px;" class="social-div">
                <a href="#" style="display: flex; align-items: center; padding: 0px; gap: 10px;">
                    <img src="/images/footer-img/facebook.png" style="width: 25px;">
                    <p class="social-account">Tarkeba_Perfume</p>
                </a>
                <a href="#" style="display: flex; align-items: center; padding: 0px; gap: 10px;">
                    <img src="/images/footer-img/instagram.png" style="width: 25px;">
                    <p class="social-account">Tarkeba-Shop</p>
                </a>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <p style="border-top: 1px solid #fcf7ffcb; padding: 12px 0px; width: 90%;">Tarkeba &#169; 2023 - All Rights Reserved | Designed by Mo_Alsgheer</p>
    </div>
</footer>