<div class="admin-header">
    <div class="container">
        <div class="navbar">
            <div style="display: flex; width: 35%; align-items: center;">
                <img src="/images/menu.png" style="width: 25px; cursor: pointer; margin-left: 15px;" id="sidebar-btn">
            </div>
            <nav style="width: 900px;">
                <ul id="menuitems">
                    <li><a href="/users/profile">profile</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                </ul>
            </nav>
            <a href="/"><img src="/images/icon10.png" alt="icon" class="media-logo" style="width: 50px;"></a>
        </div>
    </div>
</div>