<div class="side-menu" style="position: fixed; height: 100%; opacity: 1;">
    <div
        style="width: 100%; display: flex; justify-content: center; margin-bottom: 15px; border-bottom: 1px solid #ccc; margin-left: 0px;">
        <a href="/" style="margin: 0px; width: 100%; height: auto; justify-content: center;"><img
                src="/images/icon9.png" alt="logo" class="logo"
                style=" width: 62%; height: auto; margin: 0px; padding: 0px;"></a>
    </div>
    <div style="width: 100%; padding: 10px 0px;">
        <p style="font-size: 11px; float: left; margin-left: 18px;">APPLICATION</p>
    </div>
    <a href="/admin" class="sidebar-box">
        <div>
            <img src="/images/admin-img/tachometer.png">
            <p>Dashboard</p>
        </div>
    </a>
    <div id="inbox" class="sub-menu sidebar-box" index="0">
        <div>
            <img src="/images/admin-img/group2.png">
            <p>Users</p>
        </div>
        <img class="more" src="/images/admin-img/arrow.png" style="width: 10px;">
    </div>
    <div id="inboxChild" class="child-menu" style="max-height: 0px; height: auto;">
        <a href="/admin/users/staff">Our Staff</a>
        <a href="/admin/users/customers">Customers</a>
    </div>
    <div id="catalog" class="sub-menu sidebar-box" index="1" style="margin-bottom: 0px;">
        <div>
            <img src="/images/admin-img/catalog.png">
            <p>Catalog</p>
        </div>
        <img class="more" src="/images/admin-img/arrow.png" style="width: 10px;">
    </div>
    <div id="catalogChild" class="child-menu" style="max-height: 0px; height: auto;">
        <a href="/admin/productList">Products List</a>
        <a href="/admin/product">Product</a>
        <a href="/admin/categoriesList">Categories List</a>
        <a href="/admin/category">Category</a>
    </div>
    <a href="/admin/orders" class="sidebar-box">
        <div>
            <img src="/images/admin-img/shopping-list.png">
            <p>Orders</p>
        </div>
    </a>
    <a href="/admin/shipping" class="sidebar-box">
        <div>
            <img src="/images/admin-img/delivery.png">
            <p>Shipping</p>
        </div>
    </a>
    <div id="marketing" class="sub-menu sidebar-box" index="2">
        <div>
            <img src="/images/admin-img/megaphone.png">
            <p>Marketing</p>
        </div>
        <img class="more" src="/images/admin-img/arrow.png" style="width: 10px;">
    </div>
    <div id="marketChild" class="child-menu" style="max-height: 0px; height: auto;">
        <a href="/admin/couponsList">Coupons List</a>
        <a href="/admin/coupon">Coupon</a>
    </div>
    <a href="/admin/imgSliderControl" class="sidebar-box">
        <div>
            <img src="/images/admin-img/slider.png">
            <p>Images Slider</p>
        </div>
    </a>
    <div id="inbox" class="sub-menu sidebar-box" index="3">
        <div>
            <img src="/images/admin-img/review.png">
            <p>Inbox</p>
        </div>
        <img class="more" src="/images/admin-img/arrow.png" style="width: 10px;">
    </div>
    <div id="inboxChild" class="child-menu" style="max-height: 0px; height: auto;">
        <a href="/admin/reviews">Reviews</a>
        <a href="/admin/feedback">Feedback</a>
    </div>
    <div style="width: 100%; border-top: 1px solid #ccc; padding: 25px 0px 10px 0px; margin: 0px">
        <p style="font-size: 11px; float: left; margin-left: 30px;">PAGES</p>
    </div>
    <a href="/admin/customPerfume" class="sidebar-box">
        <div>
            <img src="/images/perfume3.png">
            <p>Custom Perfume</p>
        </div>
    </a>
    <a href="/admin/about" class="sidebar-box">
        <div>
            <img src="/images/info.png">
            <p>About Us</p>
        </div>
    </a>
    <a href="/admin/policies" class="sidebar-box">
        <div>
            <img src="/images/admin-img/insurance.png">
            <p>Policies</p>
        </div>
    </a>
    <a href="/admin/questions" class="sidebar-box">
        <div>
            <img src="/images/admin-img/faq.png">
            <p>FAQ</p>
        </div>
    </a>
    <a href="/users/profile" class="sidebar-box" id="profile-btn">
        <div>
            <img src="/images/avatar.png" alt="logout">
            <span>Profile</span>
        </div>
    </a>
    <a href="/users/logout" class="sidebar-box" id="logout-btn">
        <div>
            <img src="/images/logout.png" alt="logout">
            <span>Log Out</span>
        </div>
    </a>
</div>