<!DOCTYPE html>
<html lang="en-ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Tarkeba perfume">
        <meta property="og:description" content="get the best Tarkeba's of the best perfumes, we can make a custom perfume for you.">
        <meta property="og:image" content="tarkeba-img/iconSocail.jpg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="600">
        <meta property="og:type" content="website">
        <title id="title">Tarkeba perfume | Terms</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="/images/icon2.png">
        <link rel="stylesheet" href="/stylesheets/tarkeba.css">
        <link rel="stylesheet" href="/stylesheets/products.css">
        <link rel="stylesheet" href="/stylesheets/Q&A.css">
        <link rel="stylesheet" href="/stylesheets/style-language.css">
    </head>
    <body>
        <!--header-->
        {{> header1}}
        <!--body page-->
        <div class="body-container">
            <div class="title">
                <h1>Terms And Conditions</h1>
            </div>
            <div style="width: 100%; display: flex; justify-content: center;">
                <div style="display: flex; justify-content: center; margin: 50px 20px 100px 20px; padding: 25px; box-shadow: 0 1px 3px #00000026; width: 80%;">
                    <p style="white-space: pre-line; width: 100%;">{{terms.text}}</p>
                </div>
            </div>
        </div>
        <!--footer-->
        {{> footer}}
        <!--JavaScript-->
        <script src="javascripts/products.js"></script>
        <script src="javascripts/translate.js"></script>
    </body>
</html>