<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Tarkeba perfume">
    <meta property="og:description"
        content="get the best Tarkeba's of the best perfumes, we can make a custom perfume for you.">
    <meta property="og:image" content="tarkeba-img/iconSocail.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="og:type" content="website">
    <title>Tarkeba perfume | Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/images/icon2.png">
    <link rel="stylesheet" href="/stylesheets/tarkeba.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
</head>

<body>
    <!--header-->
    {{> header1}}
    <div id="main">
        <!--account-page-->
        <div class="account-page body-container">
            <div class="form-container" id="form-account">
                <div class="resetPassHeader">
                    <p class="recoverHeader" id="recoverHeader">Recover your password</p>
                    <hr id="Indicator2">
                </div>
                <!--forget-password-->
                <form action="/users/sendEmail" method="POST" id="LoginForm" style="top: 80px;">
                    {{#if sendEmail}}
                    <div id="sendMail">
                        <p style="font-weight: 600; font-size: 18px; margin: 0px 15px; margin-top: 32px;">We've sent you
                            an email with a
                            link to</p>
                        <p style="font-weight: 600; font-size: 18px; margin-bottom: 25px;">reset your password.</p>
                        <p style="font-size: 13px; margin: 0px 15px 25px 15px">Check your spam and promotions folder if
                            it doesn't appear in your main mailbox.</p>
                        <p style="font-size: 14px; color: #4028df;" id="notReceiveBtn">Didn't receive the email?</p>
                        <input type="hidden" name="email" value="{{sendEmail}}">
                    </div>
                    {{else}}
                    <p class="recoverText">
                        <strong>Enter the email</strong>
                        that you used when register to recover your password. You will receive a
                    </p>
                    <strong style="margin-bottom: 25px;">password reset link.</strong>
                    <div class="inputDiv" style="margin-top: 10px;">
                        <p id="email">Email</p>
                        <input type="text" name="email" placeholder="Email" id="recover-input" class="recoverInputs"
                            required>
                        {{#if notExist}}
                        <p class="error" id="notExist">{{notExist}}</p>
                        {{/if}}
                    </div>
                    <button type="submit" class="btn22" style="font-size: 1rem; font-weight: 500;"
                        id="logbtn">Submit</button>
                    {{/if}}
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <div id="notReceiveBody" style="display: none;">
                        <p style="font-weight: 600; font-size: 18px; margin: 0px 15px; margin-top: 32px;">Please, allow
                            <span id="countDown" style="width: auto; color: #4028df;">60</span> seconds for the email to
                            arrive before requesting another
                            link.
                        </p>
                        <button type="submit" id="resendLink" class="btn22"
                            style="font-size: 1rem; font-weight: 500; pointer-events: none; opacity: 0.7;">Resend
                            link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--footer-->
    {{> footer}}
    <!--javaScript-->
    <script src="/javascripts/products.js"></script>
    <script>
        let sendMail = document.getElementById("sendMail");
        let cantReceive = document.getElementById("cantReceive");
        let resendLink = document.getElementById("resendLink");
        let recoverHeader = document.getElementById("recoverHeader");
        let notReceiveBtn = document.getElementById("notReceiveBtn");
        let notReceiveBody = document.getElementById("notReceiveBody");
        let time = 60;
        notReceiveBtn.onclick = () => {
            recoverHeader.innerHTML = "Do you need us to resend the link?";
            sendMail.style.display = "none";
            notReceiveBody.style.display = "block";
            let counterDown = setInterval(updateCountDown, 1000);
            let countDown = document.getElementById("countDown");
            function updateCountDown() {
                let seconds = time;
                countDown.innerHTML = `${seconds}`;
                if (seconds === 0) {
                    resendLink.style.opacity = 1;
                    resendLink.style.pointerEvents = "auto";
                    clearInterval(counterDown);
                } else {
                    time--;
                }
            }
        }
    </script>
    <script>
        //recover errors function//
        let notExist = document.getElementById("notExist");
        let recoverError = document.getElementById("recoverError");
        let emailHeader = document.getElementById("email");
        let recoverInput = document.getElementById("recover-input");

        if (notExist || recoverError) {
            emailHeader.style.color = "#c40000";
            recoverInput.style.boxShadow = "0 0 0 3px rgba(221,0,0,.1) inset";
            recoverInput.style.borderColor = "#d00";
        }
    </script>
</body>

</html>