<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Tarkeba perfume">
    <meta property="og:description"
        content="get the best Tarkeba's of the best perfumes, we can make a custom perfume for you.">
    <meta property="og:image" content="tarkeba-img/iconSocail.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="og:type" content="website">
    <title>Tarkeba perfume | Account</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap">
    <link rel="icon" href="/images/icon2.png">
    <link rel="stylesheet" href="/stylesheets/tarkeba.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" href="/stylesheets/style-language.css">
</head>

<body>
    <!--header-->
    {{> header1}}
    <div id="main">
        <!--account-page-->
        <div class="account-page body-container">
            <div class="form-container" id="form-account">
                <div class="resetPassHeader">
                    <p class="recoverHeader">Update password</p>
                    <hr id="Indicator2">
                </div>
                <!--login-->
                <form action="/users/{{userId}}/{{token}}" method="POST" style="width: 100%;" id="changeBtn">
                    {{#if invalidLink}}

                    <p
                        style="color: rgb(196, 0, 0); text-align: center; font-size: 14px; box-shadow: 0 0 20px 20px rgb(221 0 0 / 10%) inset; padding: 15px; width: 93%; border-radius: 5px; margin-bottom: 25px;">
                        {{invalidLink}}</p>
                    {{/if}}
                    <div class="inputDiv">
                        <p id="newPassword" class="passwordTitle">New password</p>
                        <input type="password" name="password" placeholder="Enter your password" id="pass"
                            class="recoverInputs" required>
                        <div>
                            <p class="error" id="err1"></p>
                        </div>
                    </div>
                    <div class="inputDiv">
                        <p id="confirmPassword">Confirm password</p>
                        <input type="password" name="confirmPassword" placeholder="Re enter your password"
                            class="recoverInputs" id="confirm-pass" required>
                        <div>
                            <p class="error" id="err2"></p>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <button type="submit" class="btn22" style="font-size: 1rem; font-weight: 500;">Change</button>
                </form>
            </div>
        </div>
    </div>
    <!--footer-->
    {{> footer}}
    <!--javaScript-->
    <script src="/javascripts/products.js"></script>
    <script>
        let error1 = document.getElementById("err1");
        let error2 = document.getElementById("err2");
        let pass = document.getElementById("pass");
        let confirmPass = document.getElementById("confirm-pass");
        let newPasswordTitle = document.getElementById("newPassword");
        let confirmPassword = document.getElementById("confirmPassword");
        let changeBtn = document.getElementById("changeBtn");

        changeBtn.onsubmit = (e) => {
            if (pass.value.length < 8) {
                error1.innerHTML = "Please use at least 8 characters.";
                pass.style.boxShadow = "0 0 0 3px rgba(221,0,0,.1) inset";
                pass.style.borderColor = "#d00";
                newPasswordTitle.style.color = "#c40000";
                return e.preventDefault();
            } else {
                error1.innerHTML = "";
                pass.style.boxShadow = "0 0 0 0px rgba(0,0,0,.0) inset";
                pass.style.borderColor = "#ccc";
                newPasswordTitle.style.color = "#1E1926";
            }

            if (confirmPass.value !== pass.value) {
                error2.innerHTML = "Confirm password does not match.";
                confirmPass.style.boxShadow = "0 0 0 3px rgba(221,0,0,.1) inset";
                confirmPass.style.borderColor = "#d00";
                confirmPassword.style.color = "#c40000";
                return e.preventDefault();
            } else {
                error2.innerHTML = "";
                confirmPass.style.boxShadow = "0 0 0 0px rgba(0,0,0,.0) inset";
                confirmPass.style.borderColor = "#ccc";
                confirmPassword.style.color = "#1E1926";
            }
        }

    </script>
</body>

</html>