form {
    margin: 30px;
}

.form-div {
    display: flex;
}

.addresses-box {
    margin-top: 100px;
    margin-bottom: 200px;
}

.address-div {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom: 1px solid rgb(226, 229, 241);
    width: 100%;
    height: 35px;
    background: rgb(252, 251, 244);
    font-weight: bold;
    font-size: 1.08333rem;
}

.hidebx {
    display: none;
}

.adress-label {
    display: flex;
    height: 250px;
}

.address-info {
    display: flex;
    height: 90%;
    padding: 13px 15px 16px;
}

.address-box {
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.add-address {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 20px;
    height: 250px;
    text-align: center;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;

    margin-left: 20px;
    margin-right: 20px;
}

input[type=radio]:checked + label {
    border: 2px solid #4028df;
    border-radius: 10px;
}


.submit-address {
    float: right;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
}